@model  IEnumerable<TMS.Models.ListTenantData>

@{
    ViewBag.Title = "List of Tenants";
}


<div id="tenants" class="row">
    <div class="col-md-7">
        <h2 class="bottom-border-line">Tenants <span></span></h2>
        <table class="table-responsive" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
                <tbody>
                    
                       @foreach (var tenant in Model)
                       {
                           string edit_url = "/tenant/edit/" + tenant.TenantId;
                           string view_url = "/tenant/view/" + tenant.TenantId;
                           <tr>
                                <td>@tenant.TenantId</td>
                                <td>@tenant.TenantName</td>
                                <td><a href="@edit_url"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                <td><a href="@view_url"><i class="text-success fa-solid fa-eye"></i></a></td>
                            </tr>
                        }
                   
                </tbody>
        </table>
       
    </div>

    <div class="col-md-5 form-bg">
        <h2>New tenant</h2>
        <form class="form form-horizontal" action="/tenant/add" method="post">
            <div class="form-group">
                <label id="name">Name</label>
                <input class="form-control" id="name" name="TenantName" type="text" value="" placeholder="Name" />
            </div>
            <div class="form-group">
                <label id="email">Email</label>
                <input class="form-control" id="email" name="TenantEmail" type="email" value="" placeholder="Email" />
            </div>
            <div class="form-group">
                <label id="phone">Phone</label>
                <input class="form-control" id="phone" name="TenantPhone" type="tel" value="" placeholder="Phone" />
            </div>
            <div class="form-group">
                <label id="emergencyPhone">Emergency Phone</label>
                <input class="form-control" id="emergencyPhone" name="TenantEmergencyContact" type="tel" value="" placeholder="Phone" />
            </div>
            <div class="form-group">
                <label id="joined">Joined</label>
                <input class="form-control" id="joined" name="TenantJoined" type="date" value=""  />
            </div>
            <div class="pull-right">
                <button class="btn bg-purple"  type="submit">Add</button>
            </div>
        </form>
    </div>
</div>