body {
}

.navbar-background, .bg-purple {
    background-color: #1C17FC;
    color: #FFFFFF;
}

#tenants {
    margin-top: 2em;
}
.form-bg {
    color: inherit;
    background-color: #eeeeee;
    padding:10px;
}
.form-bg > form{
    padding:0 6em;
}
.left-border-line{
    border-left: 1px solid black;
}
#footer {
    background-color: #B7B6FC;
    color: #000000;
    padding: 10px;
}