@{
    ViewBag.Title = "Tenants Page";
}

<div id="tenants" class="row">
    <div class="col-md-6">
        <h2>Tenants</h2>
        
    </div>
   
    <div class="col-md-6 jumbotron">
        <h2>Add new tenant</h2>
        
    </div>
</div>